@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #0000ff;
    font-size: larger;
    font: bold;
}


                    /* HEADER */

.header{
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    text-align: center;
    background: linear-gradient(to bottom, #0000ff, #ffffff);
}

.firstname{
    color: greenyellow;
}


                    /* NAVBAR */

.navbar{
    justify-content: center;
    font-size: x-large;
    font: bold;
    background-color: white;
}

.nav-item{
    color: #ff0000;
}


                    /* OVERVIEW */

.overview{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 360px;
    text-align: justify;
    width: 60%;
    display: flex;
    justify-content: space-between;
    background-color: #0000ff;
}

.text{
    padding-left: 20px;
    justify-content: space-between;
}

.expl{
    padding-left: 20px;
}

.text1{
    display: flex;
    justify-content: space-between;
}

.t1{
    padding-right: 70px;
}


                    /* CAROUSEL */


.card{
    width: 300px;
    border: none;
    outline: none;
    border-radius: 0px;
    background:linear-gradient(to bottom, #ffffff, #0000ff);
}
.slick-slide img{
    height: 500px;
    padding: 10px;
}



                    /* ROOMS */

.rooms{
    background:linear-gradient(to bottom, #0000ff , #ffffff);
    padding-bottom: 1px;
}


                    /* LOCATION */

.location{
    padding-top: 0px;
    background-color: #ffffff;
}


                    /* AMENITIES */

.amenities{
}


                    /* POLICIES */

.policies{
}


                    /* FOOTER */

.footer{
}
